<!DOCTYPE html>
<html>
<head lang="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<title>{:C('SITE_TITLE')} - {:C('SITE_NAME')}</title>
<meta content="{:C('SITE_KEYWORD')}" name="keywords" />
<meta content="{:C('SITE_DESCRIPTION')}" name="description" />
<link href="__CSS__/common.css?v={:C('SITE_VERSION')}" rel="stylesheet" />
<link href="__CSS__/admin.css?v={:C('SITE_VERSION')}" rel="stylesheet" />
<script src="__COMMON__/js/jquery-1.10.2.min.js"></script>
</head>
<body style='background-image: url("__IMG__/login_bg2.jpg?v={:C('SITE_VERSION')}");'>
<div class="container login">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron lg">
                  <form class="form-horizontal" method="post" role="form">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">登陆账号</label>
                    <div class="col-sm-10">
                      <input type="input" class="form-control" id="username" name="username" placeholder="输入登陆账号">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">登陆密码</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="password" name="password" placeholder="输入登陆密码">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">登陆</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>