header{
height: 40px;
line-height: 40px;
width: 100%;
background: #FF7DA8;/*#FF9999;*/ /*#4FC5C7;鼠标放上去的颜色：#F93882*/ 
position: fixed;
top: 0;
left: 0;
z-index: 999;
}
header h1 {
color: #fff;
margin: 0;
font-size: 16px;
top:10px;
font-weight: 400;
width: 100%;
/*position: absolute;*/
left: 0;
right: 0;
padding-top:10px;
z-index: 9;
}
.designer_detail{
    padding:0px 20px 4px 20px;
}
.designer_detail .designer_row{
    padding-top:60px;
}

.container{
    width:100%;
    padding:0 15px;
}
.comment{
padding-bottom: 30px;
 
      
}
.list-inline li{
float: left;
width: 33.18%;
text-align: center;
padding-bottom: 15px;
font-size: 12px;
background: #fff;
border-bottom: 1px solid #DDD;
}
.designer_product_list{
    
    padding:10px 10px 5px 10px;
    border-bottom: 1px solid #DDD;
}
.list_hr{
padding-bottom: 10px;

}
#WeiXinShareTips{
    position:fixed;z-index: 1000;left: 0; top: 0;width: 100%;height: 100%;background-color: rgba(100, 100, 100, 0.9);
}
#WeiXinShareTips img{
    position: fixed; right: 0;
}
div.ShareButtons{
    text-align: left;font-size: 14px;margin: 10px;
}
a.ShareToFriend, a.ShareToQuan, a.NewSubmitButton{
    color: #666;font-size: 15px; height: 40px;line-height: 39px; display: inline-block; width: 48%;text-align: center;margin-bottom: 10px;
    background: #ddd;border: 1px solid #ddd;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f1f1f1));
    background-image: -webkit-linear-gradient(#fcfcfc,#f1f1f1);
    background-image: -moz-linear-gradient(#fcfcfc,#f1f1f1);
    background-image: -ms-linear-gradient(#fcfcfc,#f1f1f1);
    background-image: -o-linear-gradient(#fcfcfc,#f1f1f1);
    background-image: linear-gradient(#fcfcfc,#f1f1f1);
    -webkit-border-radius: 5px;border-radius: 5px;
}
a.NewSubmitButton{
    width: 100%;
}
a.ShareToQuan{
    float: right;
}
a.ShareToQuan img{
    alignment-baseline: middle;
}
/*view页面*/
.designer_view{
 width: 100%;
position: relative;
transition: all 0.2s ease-in-out 0s;   
}

.carousel{
    padding-top:10px;
}
.carousel-indicators{
    bottom: -310px;
}
.carousel-inner > .item > img,.carousel-inner > .item > a > img {
    width: 320px;
    height: 320px;
    display: block;
    margin: auto;
}

.designer_detail {
width: 100%;
position: relative;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.carousel-inner item {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
}

.product-price {
text-align: center;
padding: 15px 0;
}

.product-price .price-tag-big {
display: inline-block;
background: #f35c43;
color: #fff;
height: 33px;
line-height: 33px;
padding-right: 10px;
font-size: 1.2em;
}
.product-price .price-tag-big strong {
margin: 1px;
background: #fff;
color: #f35c43;
height: 31px;
display: inline-block;
padding: 0 10px;
margin-right: 10px;
font-weight: 700;
}
.product-price .shop-price {
margin-top: 5px;
font-size: 1em;
}

.designer_view{
 display: inline-block;   
}
.view-li{
    line-height: 25px;
}
.view-li span{
color: #666;
}
.viewfixfooter{
    display: inline-block;
text-decoration: none;
width: 100%;
height: 40px;
position: relative;

}
.page-header{
    margin: 10px 0px 20px;
}
.page-header h1{
  font: 28px "microsoft yahei";   
}
.gmxz{
width: 100%;
font: 16px "microsoft yahei";
color: #FE5985;
margin: 0;
padding-bottom:  15px;

}
.xfts{
width: 100%;
font: 16px "microsoft yahei";
color: #FE5985;
margin: 0;
padding-bottom:  15px;
padding-top:  10px; 
}
.choose{
width: 100%;
font: 16px "microsoft yahei";
color: #FE5985;
margin: 0;
padding-bottom:  15px;
padding-top:  10px;
}
.bindmobile{
padding-top: 50px;  
}
.bindmobile .con {
overflow: hidden;
clear: both;
padding: 10px 0;
}

.footer-ios7 {
padding: 20px 0;
text-align: center;
}
.topback{
position: absolute;
left: 0;
top: 0;
width: 55px;
height: 33px;
overflow: hidden;
text-align: center;
}
.topback img {
width: 14px;
height: 21px;
}
    

/*确认预约信息 order.html页面 */   
.input-group-addon{
font-size:20px;
line-height: 0;
padding: 10px 12px;    
}
.orderinput{
    height:45px;
}
.form-control:focus{
    border-color: #ccc;
    outline: 0px none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset, 0px 0px 0px rgba(0, 0, 0, 0);
}
.tag{
    top:-15px;
}
.yxinfo{
    padding:0 10px;
}
.price-pay{
    color:#F35C43;
    font-size: 22px;
}
.follow li a{
    color:#000;
}
.orderavatar img{
    width:60px;
    height: 60px;
}


.bindinput{
font-family: "Microsoft YaHei";
width: 100%;
height: 45px;
line-height: 45px;
border: 1px solid #d3d9e0;
border-radius: 10px;
font-size: 20px;
}
.bindbut{

height: 45px;
line-height: 45px;    
padding-top:0;
}


.cover{ position:fixed; z-index:999; width:100%; height:100%; background:#000; opacity:0.5; top:0; left:0;}
.covercontent{ position:fixed; width:100%;  z-index:1000; bottom:0; left:0;background:#fff;}
.infotabul {
margin: 0;
padding: 0;
height: 40px;
border-bottom: 2px solid #2EB676;
}
.infotabul li {
float: left;
width: 25%;
text-align: center;
border-bottom: 2px solid #2EB676;
padding: 10px 0;
cursor: pointer;
color: #000;
list-style-type:none;
}
.infotabul li.selected {
background: #2EB676;
color: #fff;
position: relative;
}

.c {
clear: both;
}
.hc {
display: none;
}
.sc {
display: block;
}
.datetimetb {
border-collapse: collapse;
border: 0;
border: none;
width: 100%;
font-size: 14px;
}
table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
.datetimetb td {
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
text-align: center;
padding: 10px 0;
color: #999;
}


.coupon-exprie {
    color: #494a4d;
    background-color: #ddd;
}

.feedback textarea{
   
}
.feedback input{
    margin-top:10px;
    margin-bottom:10px;
}
.commradio{
    margin-bottom: 10px;
}