@charset "utf-8";
.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.428571429;border-radius:3px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.btn:focus,.btn:active:focus,.btn.active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn:hover,.btn:focus{color:#333;text-decoration:none}
.btn:active,.btn.active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;pointer-events:none;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}
.btn-default{color:#333;background-color:#f9f9f7;border-color:#e1e1e1}.btn-default:link,.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{color:#333;background-color:#e3e3da;border-color:#c2c2c2}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{background-image:none}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#f9f9f7;border-color:#e1e1e1}
.btn-default .badge{color:#f9f9f7;background-color:#333}
.btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd}.btn-primary:link,.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{color:#fff;background-color:#3071a9;border-color:#285e8e}
.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{background-image:none}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca;border-color:#357ebd}
.btn-primary .badge{color:#428bca;background-color:#fff}
.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success:link,.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success{color:#fff;background-color:#449d44;border-color:#398439}
.btn-success:active,.btn-success.active,.open>.dropdown-toggle.btn-success{background-image:none}
.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active{background-color:#5cb85c;border-color:#4cae4c}
.btn-success .badge{color:#5cb85c;background-color:#fff}
.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}.btn-info:link,.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info{color:#fff;background-color:#31b0d5;border-color:#269abc}
.btn-info:active,.btn-info.active,.open>.dropdown-toggle.btn-info{background-image:none}
.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active{background-color:#5bc0de;border-color:#46b8da}
.btn-info .badge{color:#5bc0de;background-color:#fff}
.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}.btn-warning:link,.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning{color:#fff;background-color:#ec971f;border-color:#d58512}
.btn-warning:active,.btn-warning.active,.open>.dropdown-toggle.btn-warning{background-image:none}
.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active{background-color:#f0ad4e;border-color:#eea236}
.btn-warning .badge{color:#f0ad4e;background-color:#fff}
.btn-danger{color:#fff;background-color:#d84c31;border-color:#c94126}.btn-danger:link,.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger{color:#fff;background-color:#b43a22;border-color:#96301c}
.btn-danger:active,.btn-danger.active,.open>.dropdown-toggle.btn-danger{background-image:none}
.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active{background-color:#d84c31;border-color:#c94126}
.btn-danger .badge{color:#d84c31;background-color:#fff}
.btn-link{color:#428bca;font-weight:normal;cursor:pointer;border-radius:0}.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}
.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active{border-color:transparent}
.btn-link:hover,.btn-link:focus{color:#2a6496;text-decoration:underline;background-color:transparent}
.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus{color:#999;text-decoration:none}
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:4px}
.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5;border-radius:2px}
.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:2px}
.btn-block{display:block;width:100%}
.btn-block+.btn-block{margin-top:5px}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}
.page_navbar{height:59px;border-bottom:1px solid #e1e1e1;-webkit-box-shadow:0 0 3px #eee,inset 0 0 3px #fff;box-shadow:0 0 3px #eee,inset 0 0 3px #fff;background:#f9f9f7}.page_navbar .page-navbar-warp{width:97%;margin:0 auto;height:59px;position:relative}.page_navbar .page-navbar-warp .title{position:absolute;top:0;left:0;width:180px;white-space:nowrap;line-height:59px}.page_navbar .page-navbar-warp .title h3{display:inline;min-width:100px;margin:0;line-height:59px;font-size:20px;color:#5c6371}.page_navbar .page-navbar-warp .title h3 i{text-shadow:0 2px 0 #fff,0 -2px 0 #f2f2ea}
.page_navbar .page-navbar-warp .title h3 a{color:#5c6371;padding:10px 15px;border-radius:5px;margin-left:-10px}.page_navbar .page-navbar-warp .title h3 a:hover{color:#d84c31;background:#f2f2ea}
.page_navbar .page-navbar-warp .main{padding-top:10px;margin-left:180px}
#footer-outer{-webkit-box-shadow:inset 0 0 3px #e1e1e1;box-shadow:inset 0 0 3px #e1e1e1;background:#f9f9f7;padding-top:30px}#footer-outer .columns{width:920px;margin:0 auto}#footer-outer .columns:before,#footer-outer .columns:after{content:" ";display:table}
#footer-outer .columns:after{clear:both}
#footer-outer .columns .column{float:left;width:70px;margin-left:0;line-height:220%}#footer-outer .columns .column li h2{font-size:19px}
#footer-outer .text-center{padding:20px;color:#ccc}
#index-wrap{background:#c5c4c0 url("../images/index_bg.jpg") center top no-repeat fixed}#index-wrap .index-banner{min-width:980px;background:url("../images/banner_bg.png") center top no-repeat}#index-wrap .index-banner .index-banner-wrap{width:980px;height:423px;margin:0 auto;position:relative}#index-wrap .index-banner .index-banner-wrap .index-banner-inner{padding:60px;padding-left:10px}#index-wrap .index-banner .index-banner-wrap .index-banner-inner h1{color:#fff;margin-bottom:50px}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner p{color:#fbfbfb;width:410px;font-size:24px;line-height:150%;margin-top:20px}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-action{position:absolute;bottom:80px;left:10px}#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-action .btn-success{padding:15px 60px;font-size:23px}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-action a{color:#fff}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-carousel{width:458px;height:281px;position:absolute;right:20px;top:107px}#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-carousel ol.carousel-indicators{bottom:-30px;top:auto;left:50%}#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-carousel ol.carousel-indicators li{cursor:pointer}
#index-wrap .index-banner .index-banner-wrap .index-banner-inner .index-banner-carousel .carousel-control{display:none}
#index-wrap .index-body{background:#fbfbfb}#index-wrap .index-body h3.index-feature-title{text-align:center;margin:0 auto;padding-top:50px;font-weight:normal;width:980px}
#index-wrap .index-body ul.index-feature{width:1010px;margin:0 auto}#index-wrap .index-body ul.index-feature:before,#index-wrap .index-body ul.index-feature:after{content:" ";display:table}
#index-wrap .index-body ul.index-feature:after{clear:both}
#index-wrap .index-body ul.index-feature li{float:left;width:25%;text-align:center;line-height:200%;padding:45px 0;font-size:14px;color:#999}#index-wrap .index-body ul.index-feature li img{border-radius:10px;width:100px;height:100px}
#index-wrap .index-body ul.index-feature li h4{color:#333;font-size:20px;font-weight:normal;margin-top:20px}
#index-wrap .index-body .index-say{height: 260px;padding-bottom:20px;border:solid 1px #e1e1e1;border-width:1px 0;background:#f4f4f4 url("../images/div-grey-top.png") no-repeat center top}#index-wrap .index-body .index-say .index-say-inner{height:460px;width:980px;margin:0 auto;position:relative}#index-wrap .index-body .index-say .index-say-inner .index-say-title{margin:0;padding:30px 0 30px 0;text-align:center;font-weight:normal}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel{width:980px;color:#979797;font-size:16px;padding-bottom:30px}#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item{height:140px}#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item span.people{left:0;top:0;z-index:100;position:absolute;width:170px;text-align:center;font-size:16px;color:#333}#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item span.people img{width:45px}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item p{font-size:16px;margin-left:170px;margin-right:30px;padding-top:25px;line-height:240%}#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel .item p i{font-size:.8em;color:#ddd}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel ol.carousel-indicators{bottom:-30px;top:auto;left:50%}#index-wrap .index-body .index-say .index-say-inner .index-say-carousel ol.carousel-indicators li{cursor:pointer;margin:5px;border-width:2px;border-color:#ddd}#index-wrap .index-body .index-say .index-say-inner .index-say-carousel ol.carousel-indicators li.active{width:10px;height:10px;background-color:#ddd}
#index-wrap .index-body .index-say .index-say-inner .index-say-carousel .carousel-control{display:none}
#index-wrap .index-body .index-say .index-say-inner .index-say-list li:before,#index-wrap .index-body .index-say .index-say-inner .index-say-list li:after{content:" ";display:table}
#index-wrap .index-body .index-say .index-say-inner .index-say-list li:after{clear:both}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-title{text-align:center;margin:0 auto;font-size:26px;font-weight:normal;width:980px}#index-wrap .index-body .index-say .index-say-inner .index-say-team-title span{border:0;background:#f4f4f4;bottom:-12px;position:relative;padding:0 30px}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list{margin:0;position:absolute;bottom:0;left:0;right:0}#index-wrap .index-body .index-say .index-say-inner .index-say-team-list:before,#index-wrap .index-body .index-say .index-say-inner .index-say-team-list:after{content:" ";display:table}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list:after{clear:both}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list li{opacity:.6;float:left;text-align:center;width:25%;line-height:70px}#index-wrap .index-body .index-say .index-say-inner .index-say-team-list li:hover{opacity:9}
#index-wrap .index-body .index-say .index-say-inner .index-say-team-list li img{height:50px}
#index-wrap .index-body .index-who{height:460px;background:#58b454 url("../images/pat.png") repeat center top;color:#fff;text-align:center}#index-wrap .index-body .index-who .index-who-inner{width:980px;margin:0 auto}#index-wrap .index-body .index-who .index-who-inner .index-who-title{margin:0;padding:40px 0 50px 0;font-weight:normal}
#index-wrap .index-body .index-who .index-who-inner .index-who-grid:before,#index-wrap .index-body .index-who .index-who-inner .index-who-grid:after{content:" ";display:table}
#index-wrap .index-body .index-who .index-who-inner .index-who-grid:after{clear:both}
#index-wrap .index-body .index-who .index-who-inner .index-who-grid li{float:left;width:25%;height:93px;line-height:200%;font-size:16px}#index-wrap .index-body .index-who .index-who-inner .index-who-grid li i{font-size:2em;display:block}
#index-wrap .index-body .index-who .index-who-inner .index-who-footer{font-size:18px;padding:10px 0 40px 0}
#index-wrap .index-body h3.index-other-title{text-align:center;margin:0;padding-top:50px;font-weight:normal}
#index-wrap .index-body ul.index-other-list{width:1010px;margin:0 auto}#index-wrap .index-body ul.index-other-list:before,#index-wrap .index-body ul.index-other-list:after{content:" ";display:table}
#index-wrap .index-body ul.index-other-list:after{clear:both}
#index-wrap .index-body ul.index-other-list li{float:left;width:25%;text-align:center;line-height:150%;padding:45px 20px;font-size:14px}#index-wrap .index-body ul.index-other-list li h4{font-size:20px;font-weight:normal}
.login-wrap .single-panel .single-panel-inner{margin:7% auto}.login-wrap .single-panel .single-panel-inner.login-mini{width:480px}.login-wrap .single-panel .single-panel-inner.login-mini .single-panel-body{padding:20px 40px 0 40px}.login-wrap .single-panel .single-panel-inner.login-mini .single-panel-body form{margin:0 5% !important}
.login-wrap .single-panel .single-panel-inner.login-mini .single-panel-footer{border:0;padding:0 20px}
.forgot-wrap .single-panel-inner{margin:7% auto}
div.hr{margin:1.428571429 auto;border-top:solid 1px #e5e5e5;border-bottom:solid 1px #fff}
div.hr_black{margin:1.428571429 auto;border-top:solid 1px #111415;border-bottom:solid 1px #646668}
.border-notop{border-top:solid 1px transparent}
html{-webkit-text-size-adjust:none}html.inner-html{position:relative;height:100%;overflow:hidden}html.inner-html body{height:100%;position:absolute;top:0;bottom:0;left:0;right:0;overflow:hidden}
html body{padding:0;background:#fbfbfb;overflow-x:hidden}html body header.navbar-fixed-top{margin-bottom:0}
html body .container-fluid{padding:0}
ul,ol{padding:0;/*margin:0 0 10px 25px*/}
li{list-style-type:none}
textarea{resize:vertical}
form{margin:0}
dd{margin-left:10px}
label{font-weight:normal}
.popbox-body .control-label{line-height:26px}
.input-lg{font-size:1em;padding:4px 6px}
.help-inline{display:inline}
.help-inlineblock{display:inline-block}
select,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{height:38px}
select.form-control{height:37px}
.form-control[readonly],input[readonly],select[readonly],textarea[readonly]{cursor:default;background:#fbfbfb}
.btn{border:1px solid #e1e1e1;background:#f9f9f7;background-image:none;text-shadow:0 0 0 transparent;-webkit-box-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent;padding:8px 25px}.btn.btn-hover.openpop,.btn.btn-hover:hover{color:#666;background:#f2f2ea;border:solid 1px #e1e1e1 !important}
.btn.btn-hover:focus,.btn.btn-hover:active{background:#f2f2ea}
.btn.btn-danger{border:solid 1px #d14836}
.btn.btn-primary{border:solid 1px #3079ed;background-color:#4d90fe}.btn.btn-primary:hover,.btn.btn-primary:focus,.btn.btn-primary:active{background:#357ae8}
.btn.btn-sm{padding:2px 10px}
.btn.btn-link{color:#333}.btn.btn-link:link{text-decoration:none}
.btn.btn-link:hover,.btn.btn-link:active{text-decoration:none;-webkit-box-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent}
.label-inverse{background:#333;color:#888}
ul.list-col-2:before,ul.list-col-2:after{content:" ";display:table}
ul.list-col-2:after{clear:both}
ul.list-col-2 li{width:50%;float:left}
ul.list-col-3:before,ul.list-col-3:after{content:" ";display:table}
ul.list-col-3:after{clear:both}
ul.list-col-3 li{width:33%;float:left}
ul.list-col-4:before,ul.list-col-4:after{content:" ";display:table}
ul.list-col-4:after{clear:both}
ul.list-col-4 li{width:25%;float:left}
.dropdown-menu{padding:0;background:#fbfbfb;border-radius:3px;border-color:#e1e1e1;-webkit-box-shadow:0 0 3px #eee,inset 0 0 3px #fff;box-shadow:0 0 3px #eee,inset 0 0 3px #fff}.dropdown-menu li.divider{margin:0}
.dropdown-menu>li{line-height:200%;margin:5px}.dropdown-menu>li i{margin-right:5px}
.dropdown-menu>li>a{padding:8px 20px}
.dropdown-menu>li>a:hover,.dropdown-menu>li a:focus{color:#333;background-image:none;background:#f2f2ea;border-radius:3px}
.btn-group.open .btn.dropdown-toggle{background-image:none;text-shadow:0 0 0 transparent}
.btn-group .btn.dropdown-toggle{margin-left:-1px;padding-left:8px;padding-right:8px;-webkit-box-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent}
.btn-group>.tooltip+.btn{margin-left:-1px}
.nav-tabs{margin-left:0}.nav-tabs li.active a{background:#f9f9f7}
.nav-tabs li.active a:hover,.nav-tabs li.active a:focus{background:#f9f9f7}
.nav-tabs li a{border-radius:0;padding-left:20px;padding-right:20px;margin-left:5px;margin-right:0;cursor:pointer;color:#d7d7d7}
.text-nowarp{white-space:nowrap}
.text-break{word-wrap:break-word}
.text-underline{text-decoration:underline}
.text-linethrough{text-decoration:line-through}
.ui-sortable-helper{box-sizing:content-box}
.fs_12{font-size:12px}
.fs_14{font-size:14px}
.fs_15{font-size:15px}
.fs_17{font-size:17px}
.m_sub5{margin:-5px}
.ml_sub2{margin-left:-2px}
.ml_sub10{margin-left:-10px}
.ml_0{margin-left:0}
.ml_5{margin-left:5px}
.ml_10{margin-left:10px}
.ml_15{margin-left:15px}
.ml_20{margin-left:20px}
.ml_50{margin-left:50px}
.mr_0{margin-right:0}
.mr_5{margin-right:5px}
.mr_10{margin-right:10px}
.mr_15{margin-right:15px}
.mr_45{margin-right:45px}
.mr_115{margin-right:115px}
.mr_210{margin-right:210px}
.mb_10{margin-bottom:10px}
.pr_10{padding-right:10px}
.pl_0{padding-left:0}
.plr_5{padding-left:5px;padding-right:5px}
.plr_10{padding-left:10px;padding-right:10px}
.pl_5{padding-left:5px}
.pl_10{padding-left:10px}
.pl_12{padding-left:12px}
.pl_15{padding-left:15px}
.pl_20{padding-left:20px}
.p_0{padding:0}
.pr_0{padding-right:0 !important}
.pr_5{padding-right:5px}
.p_5{padding:5px}
.p_10{padding:10px}
.p_12{padding:12px}
.p_15{padding:15px}
.p_20{padding:20px}
.pl_20{padding-left:15px}
.pt_0{padding-top:0 !important}
.ptb_2{padding-top:2px;padding-bottom:2px}
.ptb_8{padding-top:8px !important;padding-bottom:8px !important}
.pt_15{padding-top:15px}
.pt_45{padding-top:45px}
.pb_0{padding-bottom:0}
.pb_10{padding-bottom:10px}
.ml_sub100{margin-left:-100px}
.m_0{margin:0}
.m_5{margin:5px}
.m_10{margin:10px}
.m_12{margin:12px}
.m_15{margin:15px}
.m_20{margin:20px}
.mt_0{margin-top:0}
.mt_5{margin-top:5px}
.mt_12{margin-top:12px}
.mt_20{margin-top:20px}
.mt_60{margin-top:60px}
.mt_180{margin-top:180px}
.mb_0{margin-bottom:0}
.mb_100{margin-bottom:100px}
.w_12{width:12px}
.w_25{width:25px}
.w_120{width:120px}
.w_165{width:165px}
.w_260{width:260px}
.w_280{width:280px}
.w_300{width:300px}
.w_355{width:355px}
.w_360{width:360px}
.w_397{width:397px}
.w_600{width:600px}
.w_660{width:660px}
.w_678{width:678px}
.w_30p{width:30%}
.w_50p{width:50%}
.w_70p{width:70%}
.w_75p{width:75%}
.w_83p{width:83%}
.w_100p{width:100%}
.h_36{height:36px}
.h_38{height:38px}
.h_180{height:180px}
.lh-40{line-height:40px}
.h_380{height:380px}
.h_100p{height:100%}
.min-w100{min-width:100px}
.min-w200{min-width:200px}
.min-w725{min-width:725px}
.max-w725{max-width:725px}
.min-h50{min-height:50px}
.min-h400{min-height:400px}
.max-h300{max-height:300px}
.max-h360{max-height:360px}
.max-h400{max-height:400px}
.max-h500{max-height:500px}
.not-allowed{cursor:not-allowed !important}
.clickable{cursor:pointer !important}
.color_gray{color:#ccc}
.color_main,.color_main:link,.color_main:visited{color:#d84c31}
.tab-content{min-height:100px}
.ui-match{background:#ffd860}
.wt-form input:focus:invalid:focus,.wt-form textarea:focus:invalid:focus,.wt-form select:focus:invalid:focus{border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);color:#000}
.wt-form input.error:focus:invalid:focus,.wt-form textarea.error:focus:invalid:focus,.wt-form select.error:focus:invalid:focus{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}
.wt-form .dropdown-menu{max-height:400px;overflow-y:auto}
.wt-form textarea.error,.wt-form select.error{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}
.wt-form textarea.ng-invalid.error,.wt-form select.ng-invalid.error{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}
.wt-form input.error{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}
.wt-form input.ng-invalid.error{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7}
.breadcrumb{margin:10px 0 0;background-color:#f9f9f7;border:solid 1px #f2f2ea}.breadcrumb.blank{margin-left:25px;margin-right:25px}
.breadcrumb a{color:#333;font-weight:normal}.breadcrumb a:hover{color:#d14836}
button{outline:none}
.btn:focus,.btn:active:focus{outline:none}
button[type="submit"],input[type="submit"]{cursor:pointer}
::-moz-selection{color:#fff;color:rgba(255,255,255,0.85);background:rgba(216,76,49,0.8)}
::selection{color:#fff;color:rgba(255,255,255,0.85);background:rgba(216,76,49,0.8)}
::-webkit-scrollbar{width:15px;height:15px}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment,::-webkit-scrollbar-thumb{background-color:#fff;border:solid 1px #bec1c4}
::-webkit-scrollbar-track-piece{background-color:#fff}
.rightpanel-wrapper{position:relative}
.height-scrollauto{overflow:auto}
embed{display:block}
.pointer-grabbing{cursor:-moz-grabbing;cursor:-webkit-grabbing;cursor:grabbing}
.btn{background-color:#f9f9f7;border-color:#e1e1e1}.btn:hover{background-color:#f2f2ea}
.btn:active,.btn.active{background-color:#f2f2ea;border-color:#e1e1e1}
.btn-default{filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background-color:#f9f9f7;background-repeat:repeat-x;border-color:#dadace;text-shadow:0 1px 0 #fff;border-color:#ccc}.btn-default:hover,.btn-default:focus{background-color:#dfdfd4;background-position:0 -15px}
.btn-default:active,.btn-default.active{background-color:#dfdfd4;border-color:#dadace}
.btn-default:disabled,.btn-default[disabled]{background-color:#dfdfd4;background-image:none}
.btn-primary{filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background-color:#428bca;background-repeat:repeat-x;border-color:#2b669a}.btn-primary:hover,.btn-primary:focus{background-color:#2d6ca2;background-position:0 -15px}
.btn-primary:active,.btn-primary.active{background-color:#2d6ca2;border-color:#2b669a}
.btn-primary:disabled,.btn-primary[disabled]{background-color:#2d6ca2;background-image:none}
.btn-success{filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background-color:#5cb85c;background-repeat:repeat-x;border-color:#3e8f3e}.btn-success:hover,.btn-success:focus{background-color:#419641;background-position:0 -15px}
.btn-success:active,.btn-success.active{background-color:#419641;border-color:#3e8f3e}
.btn-success:disabled,.btn-success[disabled]{background-color:#419641;background-image:none}
.btn-info{filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background-color:#5bc0de;background-repeat:repeat-x;border-color:#28a4c9}.btn-info:hover,.btn-info:focus{background-color:#2aabd2;background-position:0 -15px}
.btn-info:active,.btn-info.active{background-color:#2aabd2;border-color:#28a4c9}
.btn-info:disabled,.btn-info[disabled]{background-color:#2aabd2;background-image:none}
.btn-warning{filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background-color:#f0ad4e;background-repeat:repeat-x;border-color:#e38d13}.btn-warning:hover,.btn-warning:focus{background-color:#eb9316;background-position:0 -15px}
.btn-warning:active,.btn-warning.active{background-color:#eb9316;border-color:#e38d13}
.btn-warning:disabled,.btn-warning[disabled]{background-color:#eb9316;background-image:none}
.btn-danger{filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background-color:#d84c31;background-repeat:repeat-x;border-color:#a3341f}.btn-danger:hover,.btn-danger:focus{background-color:#ab3720;background-position:0 -15px}
.btn-danger:active,.btn-danger.active{background-color:#ab3720;border-color:#a3341f}
.btn-danger:disabled,.btn-danger[disabled]{background-color:#ab3720;background-image:none}
.btn-success{background-color:#5cb85c;border-color:#4cae4c}.btn-success:hover{background-color:#47a447}
.btn-success:active,.btn-success.active{background-color:#47a447;border-color:#398439}
.thumbnail,.img-thumbnail{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.075);box-shadow:0 1px 2px rgba(0,0,0,0.075)}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{background-color:#e8e8e8}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{background-color:#357ebd}
.navbar-default{background-image:-webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);background-image:-o-linear-gradient(top, #fff 0, #f8f8f8 100%);background-image:linear-gradient(to bottom, #fff 0, #f8f8f8 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border-radius:3px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075)}.navbar-default .navbar-nav>.active>a{-webkit-box-shadow:inset 0 3px 9px rgba(0,0,0,0.075);box-shadow:inset 0 3px 9px rgba(0,0,0,0.075)}
.navbar-brand,.navbar-nav>li>a{text-shadow:0 1px 0 rgba(255,255,255,0.25)}
.navbar-inverse{background-image:-webkit-linear-gradient(top, #3c3c3c 0, #222 100%);background-image:-o-linear-gradient(top, #3c3c3c 0, #222 100%);background-image:linear-gradient(to bottom, #3c3c3c 0, #222 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)}.navbar-inverse .navbar-nav>.active>a{background-image:-webkit-linear-gradient(top, #222 0, #282828 100%);background-image:-o-linear-gradient(top, #222 0, #282828 100%);background-image:linear-gradient(to bottom, #222 0, #282828 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);-webkit-box-shadow:inset 0 3px 9px rgba(0,0,0,0.25);box-shadow:inset 0 3px 9px rgba(0,0,0,0.25)}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{text-shadow:0 -1px 0 rgba(0,0,0,0.25)}
.navbar-static-top,.navbar-fixed-top,.navbar-fixed-bottom{border-radius:0}
.alert{text-shadow:0 1px 0 rgba(255,255,255,0.2);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05)}
.alert-success{border-color:#b2dba1}
.alert-info{border-color:#9acfea}
.alert-warning{border-color:#f5e79e}
.alert-danger{border-color:#dca7a7}
.progress{background-image:-webkit-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);background-image:-o-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);background-image:linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0)}
.progress-bar{background-image:-webkit-linear-gradient(top, #428bca 0, #3071a9 100%);background-image:-o-linear-gradient(top, #428bca 0, #3071a9 100%);background-image:linear-gradient(to bottom, #428bca 0, #3071a9 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0)}
.progress-bar-success{background-image:-webkit-linear-gradient(top, #5cb85c 0, #449d44 100%);background-image:-o-linear-gradient(top, #5cb85c 0, #449d44 100%);background-image:linear-gradient(to bottom, #5cb85c 0, #449d44 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0)}
.progress-bar-info{background-image:-webkit-linear-gradient(top, #5bc0de 0, #31b0d5 100%);background-image:-o-linear-gradient(top, #5bc0de 0, #31b0d5 100%);background-image:linear-gradient(to bottom, #5bc0de 0, #31b0d5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0)}
.progress-bar-warning{background-image:-webkit-linear-gradient(top, #f0ad4e 0, #ec971f 100%);background-image:-o-linear-gradient(top, #f0ad4e 0, #ec971f 100%);background-image:linear-gradient(to bottom, #f0ad4e 0, #ec971f 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0)}
.progress-bar-danger{background-image:-webkit-linear-gradient(top, #d84c31 0, #b43a22 100%);background-image:-o-linear-gradient(top, #d84c31 0, #b43a22 100%);background-image:linear-gradient(to bottom, #d84c31 0, #b43a22 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd84c31', endColorstr='#ffb43a22', GradientType=0)}
.progress-bar-striped{background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);background-image:-o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)}
.list-group{border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.075);box-shadow:0 1px 2px rgba(0,0,0,0.075)}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{text-shadow:0 -1px 0 #3071a9;background-image:-webkit-linear-gradient(top, #428bca 0, #3278b3 100%);background-image:-o-linear-gradient(top, #428bca 0, #3278b3 100%);background-image:linear-gradient(to bottom, #428bca 0, #3278b3 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0);border-color:#3278b3}
.panel{-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);box-shadow:0 1px 2px rgba(0,0,0,0.05)}
.panel-default>.panel-heading{background-image:-webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);background-image:-o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);background-image:linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0)}
.panel-primary>.panel-heading{background-image:-webkit-linear-gradient(top, #428bca 0, #357ebd 100%);background-image:-o-linear-gradient(top, #428bca 0, #357ebd 100%);background-image:linear-gradient(to bottom, #428bca 0, #357ebd 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0)}
.panel-success>.panel-heading{background-image:-webkit-linear-gradient(top, #dff0d8 0, #d0e9c6 100%);background-image:-o-linear-gradient(top, #dff0d8 0, #d0e9c6 100%);background-image:linear-gradient(to bottom, #dff0d8 0, #d0e9c6 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0)}
.panel-info>.panel-heading{background-image:-webkit-linear-gradient(top, #d9edf7 0, #c4e3f3 100%);background-image:-o-linear-gradient(top, #d9edf7 0, #c4e3f3 100%);background-image:linear-gradient(to bottom, #d9edf7 0, #c4e3f3 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0)}
.panel-warning>.panel-heading{background-image:-webkit-linear-gradient(top, #fcf8e3 0, #faf2cc 100%);background-image:-o-linear-gradient(top, #fcf8e3 0, #faf2cc 100%);background-image:linear-gradient(to bottom, #fcf8e3 0, #faf2cc 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0)}
.panel-danger>.panel-heading{background-image:-webkit-linear-gradient(top, #f2dede 0, #ebcccc 100%);background-image:-o-linear-gradient(top, #f2dede 0, #ebcccc 100%);background-image:linear-gradient(to bottom, #f2dede 0, #ebcccc 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0)}
.well{background-image:-webkit-linear-gradient(top, #e8e8e8 0, #f5f5f5 100%);background-image:-o-linear-gradient(top, #e8e8e8 0, #f5f5f5 100%);background-image:linear-gradient(to bottom, #e8e8e8 0, #f5f5f5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);border-color:#dcdcdc;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 1px 3px rgba(0,0,0,0.05),0 1px 0 rgba(255,255,255,0.1)}
